//.Файл обнуляющих стилей
@import "nullstyle.scss";
//Переменные для блока
$fz:100px;
$color1:red;
//Шаблон №1
.tplborder{
	font-size: 100px;
	border-bottom: 5px dashed red;
}
@mixin fontz($f){
	font-size: $f;
}


.block{
	width: 300px / 960px *100%;
	background-color: #666;
	padding: 30px;
	line-height: 60px;
	font-size: $fz;
	.block_text {
		span {
		color: green;
}
}
}
.link{
	color: $color1;
	text-decoration: underline;
	font-size: $fz;

	.block &{
		font-size: $fz;
	}

	&:hover{
		color: green;
	}

	@extend .tplborder;

}
.link-2{
		@include fontz(50px);
		@extend .tplborder;
}
